[submodule "MagicSpells"]
	path = MagicSpells
	url = git@github.com:Team-Sneakymouse/MagicSpells.git
	branch = DvZ

[submodule "MagicSpells.wiki"]
	path = MagicSpells.wiki
	url = git@github.com:Team-Sneakymouse/MagicSpells.wiki.git
